@mixin flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form {
    max-width: 400px;
    margin: 0 auto;
    @include flex-center;
    text-align: left;

    div {
        @include flex-center;
        text-align: left;
    }

    input {
        margin-bottom: 20px;
    }

    button {
        padding: 10px;
        background-color: #0082c8;
        color: #fff;
        border: none;
        cursor: pointer;

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }
}
